<web-app xmlns="http://jakarta.ee/xml/ns/jakartaee" version="5.0">
    <servlet>
        <servlet-name>CurrencyConverterServlet</servlet-name>
        <servlet-class>com.example.currencyconverter.CurrencyConverterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CurrencyConverterServlet</servlet-name>
        <url-pattern>/convert</url-pattern>
    </servlet-mapping>
</web-app>
